@page "/"

<PageTitle>Home</PageTitle>

<h1>User Management</h1>

<p>Welcome to the User Management application. Use the navigation menu to manage users.</p>
<p>To get started, you can:</p>
<ul>
    <li><NavLink href="users/list">View Users</NavLink></li>
    <li><NavLink href="users/adduser">Add a New User</NavLink></li>
</ul>
